body{
    margin: 0;
    border: 0;
    background-color: blueviolet;
}

.card.main{
    border: 2px solid blue;
    padding: 100px;
    margin: 20px;
    
}

.organiza{
  margin: 50px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;
  border: 2px solid blue;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 150px;
  padding-bottom: 150px;
  gap: 50px; 
}
.organiza1{
    display:flex;
    flex-direction: row;
}